{% load static %}
<footer id="footer">
    <section>
        <h2>Milestone 4</h2>
    </section>
    <div class="social-links">
        <h5>Find Us On!</h5>
        <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>

</footer>